.container {
  display: flex;
}

.menu {
  flex: 1;
  background-color: var(--light-gray);
  padding: 20px;
}

.content {
  flex: 4;
  padding: 20px;
}

.wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.side {
  flex: 1;
}

.cojoined {
  display: flex;
  gap: 20px;
}

/* @media (max-width: 768px) {
  .container,
  .wrapper,
  .cards,
  .cojoined,
  .main {
    flex-direction: column;
  }
} */
